
:root {
    --item-hover-color: #58b0ac;
}

body {
    background: #343642;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;
    padding: 0px;
    margin: 0px;
}

/* NAVIGATION BAR */

.top-bar {
    background-color: #69757c;
    list-style: none;
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

.item {
    float: left;
    padding: 15px;
}

.item:hover {
    border-bottom: 4px solid var(--item-hover-color);
    color: var(--item-hover-color);
    padding-bottom: 11px;
    cursor: pointer;
}

/* BOXES */

p {
    margin: 0px;
    margin-bottom: 30px;
}