
body {
    background: #080019;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;
    padding: 0px;
    margin: 0px;
}

/* NAVIGATION BAR */

.top-bar {
    background-color: #080059;
    list-style: none;
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.item {
    float: left;
    padding: 17px;
}

.inicio {
    background-color: #080099;
}

.inicio:hover {
    background-color: #060075;
    cursor: pointer;
}

.about {
    float: right;
}

.about:hover {
    background-color: #060075;
    cursor: pointer;
}