
:root {
    --item-hover-color: #58b0ac;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #495257b8;
    border-radius: 6px;
    border-right: 3px solid #343642;
}

body {
    background: #343642;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;
    padding: 0px;
    margin: 0px;
    transition: all 200ms;
}

/* NAVIGATION BAR */

.top-bar {
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    background-color: #69757c;
    font-size: 18px;
    list-style: none;
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
}

.item {
    float: left;
    padding: 10px;
}

.item:hover {
    border-bottom: 4px solid var(--item-hover-color);
    color: var(--item-hover-color);
    padding-bottom: 6px;
    cursor: pointer;
}

.navicon {
    padding: 7px;
}

.navicon:hover {
    border-bottom: 0px;
    color: white;
    padding-bottom:0px;
    cursor: pointer;
}

.navicon:hover img {
    
}

/* BOXES */

p {
    margin: 0px;
    margin-bottom: 30px;
}

.content {
    margin-top: 70px;
    margin-left: 15%;
    margin-right: 15%;
}